*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    width: 100%;
    max-width: 100px;
    margin: auto;
    overflow: hidden;
}
table{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td,th{
    border:2px solid black ;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0x;

}
