
.imagen{
    width: 100%;
    height: 100%;
}
.pres_1{
    border-color: gray;
}

#menu_sup{
    text-align: right;
    padding: 30px 50px 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;}
    
#menu_sup > a{
    color: rgba(13, 5, 22, 0.609);
    font-weight: 300;
    text-decoration:none ;
    margin-right: 10px;
}
#menu_sup > a:hover{
    text-decoration:underline ;
}
.imagen2{
    width: 100%;
    height: 100%;
}